*{  font-family: "Overpass", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

nav {
    opacity: 0.8;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #A4C3B2; /* Color original */
    border-radius: 5px;
    width: 1320px;
    height: 66px;
    margin: 20px;
    position: fixed;
    top: 0;
    z-index: 1000;
    transition: background-color 0.3s ease; /* Transición suave al cambiar el color */
}

nav.scrolled {
    opacity: 1;; /* Nuevo color cuando se hace scroll */
}



.logoPrincipal img{
    padding-left: 10px;
    width: 139px;
    padding-bottom: 10px;
    
}

.catalogo{
    position: relative;
    display: inline-block;
    color: #1D3557;
    font-weight: bold;
   
   
}
.opciones{
    background-color:#EAF4F4 ; 
    display: none;
    flex-direction: column;
    position: absolute;
    width: 177px;
    height: 166px;
    box-shadow: 4px 4px 10px rgba(0, 0, 1, 0.2);
    border-radius: 4px;
    z-index: 1;

   
}
.catalogo:hover .opciones{
    display:flex;
    flex-direction: column;
   
}
.opciones a:hover{
    
    cursor: pointer;
    background-color: #A4C3B2;
    border-radius: 4px;


}
.examenVisual{
    position: relative;
    display: inline-block;
    color: #1D3557;
    
    
}
.opcionesDos{
    background-color:#EAF4F4 ; 
    display: none;
    flex-direction: column;
    position: absolute;
    width: 160px;
    height: 101px;
    box-shadow: 4px 4px 10px rgba(0, 0, 1, 0.2);
    border-radius: 4px;
    z-index: 1000;
}
.opcionesDos a:hover{
    font-size: 17px;
    cursor: pointer;
    background-color: #A4C3B2;
    border-radius: 4px;
}
.examenVisual:hover .opcionesDos{
    display:flex;
    flex-direction: column;  
}

.promociones{
    position: relative;
    display: inline-block;
    color: #1D3557;
    font-weight: bold;
}
.opcionesTres{
    background-color:#EAF4F4 ; 
    display: none;
    flex-direction: column;
    position: absolute;
    width: 150px;
    height: 134px;  
    box-shadow: 4px 4px 10px rgba(0, 0, 1, 0.2);
    border-radius: 4px;
}
.opcionesTres a:hover{
    font-size: 17px;
    cursor: pointer;
    background-color: #A4C3B2;
    border-radius: 4px;

}
.promociones:hover .opcionesTres{
    display:flex;
    flex-direction: column;  
}

.botonesNav{
    display: flex;
    
}
.botonesNav a {
    padding-top: 9px;
    font-weight:600;
}


.botonesNav button{   
    padding-left: 90px;
    border: none;
    background-color: #A4C3B2;

}
button a{
    text-decoration: none;
    color: #1D3557;  
}


.carritoDeCompras{
    margin-right: 30px;
    cursor: pointer;
}
.carritoDeCompras i{
    font-size: 30px;
    color: #1D3557;
    
}
.buscador{
    display: flex;
    align-items: center;
}
#buscarProducto{
    text-align: center;
    border: none;
    width: 300px;
    height: 30px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    
}

#buscarProducto::placeholder{
    display: flex;
    justify-content: center;
    padding-left: 10px;
}

.lupa{

    padding: 0;
    border: none;
    margin-left: 5px;
}

.lupa i{
    display: flex;
    justify-content: center;
    color: white;
    background-color:#A4C3B2;
    font-size: 27px; 
    border: none;
}
body{
    background-color: #EAF4F4;
}
main{
    background-color: #EAF4F4;
  
}

.carousel-track img {
   
    
    width: 1348px;
    height: 100%;
    flex-shrink: 0;   
    
}
.carousel {
    width: 100%; 
    height: 100%;
    overflow: hidden; 
    position: relative;  
}
.carousel-track {
    display: flex; 
    animation: slide 20s infinite;    
}
@keyframes slide {
    0% {
        transform: translateX(0); /* Posición inicial (primera imagen) */
    }
    29.41% {
        transform: translateX(0); /* Mantiene la imagen*/
    }
    33.33% {
        transform: translateX(-1346px); /* pasa a la siguiente imagen */
    }
    62.74% {
        transform: translateX(-1346px); /* mantiene la imagen */
    }
    66.66% {
        transform: translateX(-2695px); /* pasa a la siguiente imagen */
    }
    96.08% {
        transform: translateX(-2695px); /* mantiene la imagen */
    }
    100% {
        transform: translateX(0); /* Regresar a la primera imagen */
    }
} 
.marcas{
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
    margin-top: 20px;
    width: 1348px;
}

.marcas img{
    border-radius: 50%;
    width: 150px;
}
.marcas img:hover{
    cursor: pointer;
    box-shadow: 4px 10px 10px #6B9080;
}

.accesosDirectos{
    display: flex;
    flex-wrap: wrap;
    
}

.accesosDirectos div {
    position: relative; 
    overflow: hidden; 
    width: 673px; 
    height: 500px; 

  }
  
  .accesosDirectos img {
    width: 673px; 
    height: 500px;
    object-fit: cover;
    transition: 9s ease;
    transform-origin: center center;
  }
  
  .accesosDirectos div:hover img {
    transform: scale(1.1);
  }
  
  
  .ver {
    position: absolute;
    bottom: 10px; 
    left: 50%; 
    transform: translateX(-50%); 
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.5);
    color: #1D3557;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    z-index: 1; 
    opacity: 0,8;
  }
 
  .ver:hover {
    background-color: white;
  }
  .verCategoria{
        text-decoration: none;
        position: absolute;
        bottom: 90px; 
        left: 50%; 
        transform: translateX(-50%); 
        color: white;
        font-size: 25px;
        cursor: pointer;
        z-index: 1; 
    
  }
    
  .verCategoria:hover {
    color: #CCE3DE; /* Efecto al pasar el mouse */
  }
  
  
  





.terminosYcondiciones{
    width: 331px;
    height: 180px;
    display: flex;
    flex-direction: column;

}
footer{
    width: 1348px;
    
    margin-top: 10px;
    padding-top: 20px;
    padding-left: 30px;
    padding-bottom: 20px;
    margin-top: 50px;
    display: flex;
    background-color:#CCE3DE;
}
footer a{
    text-decoration: none;
    color:#1D3557;
}
.contactanos{
    width: 331px;
    height: 180px;
    display: flex;
    flex-direction: column;
}
.linkInteres{
    width: 331px;
    height: 180px;
    display: flex;
    flex-direction: column;
}

.floating-bubble i{
     font-size: 35px;
     border-radius: 50%;
     color: white;
     justify-content: center;
     padding-left: 10px; 
}

.floating-bubble{
   
    border: none;
    padding: 0; 
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-color: #6B9080;
    box-shadow: 4px 10px 10px rgba(0, 0, 0, 0.1);
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    float: right;
    margin-right: 25px;  
}

.contact {
    display:none;
    position: absolute;
    left: 0;
    padding: 2px;
    border-radius: 5px;
    z-index: 100;
    border: none;
    bottom: 100%;
}

  
.floating-bubble:hover .contact {
    display: block;
    border: none;

  }
.floating-bubble:hover{
    box-shadow: 1px 1px 4px #1D3557;
    
}
.contact:hover{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    
}
.contact button{
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.whatsapp i{
    border: none;
    color:#6B9080 ;
    padding-left: 2px;
    
} 
.whatsapp i:hover{
    color: white;
 
}
  .contact button:hover{
    display: flex;
    background-color:#6B9080 ;
    
}
  .facebook i{
    border: none;
    color:#6B9080 ;
    padding-left: 2px;
    
} 
.facebook i:hover{
  color: white;
}
.instagram i{
  border: none;
  color:#6B9080 ;
  padding-left: 2px;
  
  
} 
.instagram i:hover{
  color: white;
}
.contenedorBubble{
    position: fixed;
    left: 1240px;
    bottom: 100px;
    z-index: 1000;
    margin-bottom: 10px;  
}

.floating-bubble{
    position:fixed;
    z-index: 1000;
}
.marcasDos{
    display: none;
}


.subtitulo{
    display: none;
}


/* Estilos generales RESPONSIVE pc/tablet y movil*/

  
  
@media (min-width: 600px) and (max-width: 1200px) {
   
    .carousel{
        width: 100%;
        height: 100%;
    }
    .carousel-track{
        width: 100%;
        height: 100%;
    }
    .carousel-track img{
        width: 100%;
        height: 100%;
    }
    .marcas {
        display: flex;
      height: 100%;
      width: 100%;
    }
    .marcas img{
       width: 100px;
    }
    header nav {
      flex-direction: row;
      width: 100%;
    }
    .opciones{
      top:50px;
      
    }
    .opcionesDos{
      top:50px;
      z-index: 1000;
    }
    .opcionesTres{
      top:50px;
    }
  
    .buscador {
      width: 60%;
      margin: 10px 0;
    }
    #buscarProducto{
        width: 212px;
        margin-left: 20px;
    }
    .botonesNav {
    display: flex;
    justify-content: row;
    margin-top: 0;
    width: 100%;
     height:100%;
    
    }
    .botonesNav button{
        display: flex;
        justify-content: center;
        padding: 0;
        width: 100%;
        height: 100%;
        margin-top: 0;    
    }
   
    .catalogo{
        display: flex;
        align-items: center;
    }
    .examenVisual{
        display: flex;
        align-items: center;
        
    }
    .promociones{
        display: flex;
        align-items: center;
    }
    
    footer {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      height: 100%;
    }

    footer a{
        width: 100%    
    }
    .accesosDirectos{
        width: 100%; /* o un ancho fijo como 800px si prefieres */
        max-width: 100%; /* Para evitar que se expanda más allá de la pantalla */
        max-height: 500px; /* Controla la altura máxima */
        overflow: hidden; /* Evita el desbordamiento si la imagen se sale */
        display: flex; /* Flexbox para una distribución flexible */
        justify-content: center;
        align-items: center;
    }
    .accesosDirectos img{
        max-width: 100%; /* La imagen se ajustará al ancho del contenedor */
        height: auto; /* Mantiene la proporción de la imagen */
        object-fit: contain;
    }
    .opciones a{
        font-size: 100%;
    }
    .marcasDos {
        display: none;
    }
    
    .contenedorBubble{
        display: flex;
        position:sticky;
        width: 100%;
        z-index: 1000;
    }
    .subtitulo{
        display: none;
    }
    @keyframes slide {
        0% {
            transform: translateX(0); /* Primera imagen */
        }
        20.41% {
            transform: translateX(0); /* Mantiene la primera imagen */
        }
        33.33% {
            transform: translateX(-105%); /* Pasa a la segunda imagen */
        }
        62.74% {
            transform: translateX(-100%); /* Mantiene la segunda imagen */
        }
        66.66% {
            transform: translateX(-205%); /* Pasa a la tercera imagen */
        }
        96.08% {
            transform: translateX(-200%); /* Mantiene la tercera imagen */
        }
        100% {
            transform: translateX(0); /* Vuelve a la primera imagen */
        }
    }
    .subtitulo{
        display: none;
    }
    
}


@media (min-width: 330px) and (max-width: 600px){
    .marcas
    ,#buscarProducto,
    .lupa, .lupa i
    {
        display: none;
    }
    .carousel-track img{
        width: 100%;
        height: 100%;
        border-radius: 20px;
    }
    
    @keyframes slide {
        0% {
            transform: translateX(0); /* Primera imagen */
        }
        20.41% {
            transform: translateX(0); /* Mantiene la primera imagen */
        }
        33.33% {
            transform: translateX(-109%); /* Pasa a la segunda imagen */
        }
        62.74% {
            transform: translateX(-107%); /* Mantiene la segunda imagen */
        }
        66.66% {
            transform: translateX(-200%); /* Pasa a la tercera imagen */
        }
        96.08% {
            transform: translateX(-210%); /* Mantiene la tercera imagen */
        }
        100% {
            transform: translateX(0); /* Vuelve a la primera imagen */
        }
    }

    .logoPrincipal img{
        width: 100px;
        height: auto;
        padding-left: 0;
    }
    
    nav{
        display: flex;
        justify-content: center;
        width: 90%;   
    }
    .botonesNav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;   
       
    }
   
    .botonesNav button{
        padding-left: 1%;
    }
    .carritoDeCompras{
        display: flex;
        justify-content:center;
        position:end;
    }
    .carritoDeCompras i{
        font-size: 25px;
        padding-left: 8px;
        width: 10px;
    }
      nav{
    display: flex;
    justify-content: center;
    width: 100%;   
    }
    main {
        display: flex;
        flex-direction: column;
    
    }
    .accesosDirectos{
        display: flex;
        flex-wrap: wrap;    
    }
    .accesosDirectos img{
        width:150px;
        height: 150px;
        flex-wrap: wrap; 


    }
    .marcasDos{
        display: flex;
        flex-wrap: wrap;
        flex-grow: 1;
        justify-content: center;
        margin-top: 30px;
    }
    .marcasDos img{
      width: 365px;
      height: 168px;  
      display: flex;
      justify-content: center;
      margin-top: 10px;
    }
    .subtitulo{
        text-align: center;
        padding-top: 20px;
    }

    footer{
        display: flex;
        width: 100%;
        flex-wrap: wrap;
    }
    footer a{
        font-size: 15px;
    }

    .floating-bubble{
        position:fixed;
        z-index: 1000;   
    }
    .contenedorBubble{
        position: sticky;
    
    }

    footer a{
        display: none;
        flex-wrap: wrap;

    }
    footer h4{
        font-size: large;

    }

    .terminosYcondiciones{
        height: 30px;
    }
    .contactanos{
        height: 30px;
    }
    .linkInteres{
        height: 30px;
    }

}
  